* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'opensans_regular', sans-serif;
  margin: 0 auto;
  max-width: 750px;
  padding: 0 10px;
  font-size: 23px;
  line-height: 1.8;
  background-color: rgb(235, 235, 209);
  color: #000000;
}

header {
  top: 0;
  position: sticky;
  background: rgb(235, 235, 209);
  background: linear-gradient(rgba(235, 235, 209, 1) 70%, rgba(235, 235, 209, 0) 100%);
  padding-bottom: 20px;
}

h1, p {
  margin: 0;
  padding: 0 5px;
}

#zens p {
  margin: 0;
  scroll-margin-top: 45vh;
}

.bold {
  font-family: 'opensans_bold', sans-serif;
}

.italic {
  font-family: 'opensans_italic', sans-serif;
}

.strike {
  text-decoration: line-through;
}

#zens p.highlight {
  background-color: #dcdc64;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#source {
  font-family: 'opensans_italic', sans-serif;
  font-size: large;
  margin-top: 20px;
}
