<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ config.TITLE }}</title>
	<meta charset="utf-8">
	<style>
		@font-face {
			font-family: 'opensanscondensed_bold';
			src: url('{{ url_for('static', filename='fonts/opensanscondensed_bold/OpenSans-CondBold-webfont.woff') }}') format('woff');
		}
		@font-face {
			font-family: 'opensanscondensed_light';
			src: url('{{ url_for('static', filename='fonts/opensanscondensed_light/OpenSans-CondLight-webfont.woff') }}') format('woff');
		}
		@font-face {
			font-family: 'opensanscondensed_lightitalic';
			src: url('{{ url_for('static', filename='fonts/opensanscondensed_lightitalic/OpenSans-CondLightItalic-webfont.woff') }}') format('woff');
		}
    	html, body {
			padding: 0;
			margin: 0;
		}
		body {
		  	display: flex;
			flex-direction: column;
			justify-content: center;
			width: {{ config.IMAGE_WIDTH }}px;
			height: {{ config.IMAGE_HEIGHT }}px;
            background-color: rgb(235, 235, 209);
		}
		p {
			padding: 25px;
			color: black;
		}
		p.title {
			font-family: 'opensanscondensed_light', sans-serif;
			font-size: 49px;
		}
		p.zen {
			font-family: 'opensanscondensed_light', sans-serif;
			font-size: 32px;
		}
		.bold {
			font-family: 'opensanscondensed_bold', sans-serif;
		}
		.italic {
			font-family: 'opensanscondensed_lightitalic', sans-serif;
		}
		.strike {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<p class="{{ 'title' if nr == 0 else 'zen' }}">{{ zens[nr] | safe }}</p>
</body>
</html>
