<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ config.TITLE }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ config.DESCRIPTION }}">
    <meta property="og:url" content="{{ url_for('number', nr=nr, _external=True) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.TITLE }}">
    <meta property="og:description" content="{{ config.DESCRIPTION }}">
    <meta property="og:image" content="{{ url_for('image.png', nr=nr, _external=True) }}">
    <meta property="og:image:secure_url" content="{{ url_for('image.png', nr=nr, _external=True) }}">
    <meta property="og:image:width" content="{{ config.IMAGE_WIDTH }}">
    <meta property="og:image:height" content="{{ config.IMAGE_HEIGHT }}">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="zen.danjou.dev">
    <meta property="twitter:url" content="{{ url_for('number', nr=nr, _external=True) }}">
    <meta name="twitter:title" content="{{ config.TITLE }}">
    <meta name="twitter:description" content="{{ config.DESCRIPTION }}">
    <meta name="twitter:image" content="{{ url_for('image.png', nr=nr, _external=True) }}">
    <link href="{{ url_for('static', filename='fonts/opensans_bold/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts/opensans_regular/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts/opensans_italic/stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='number.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy-bundle.umd.min.js"></script>
</head>
<body>
    <header>
        <h1><a href="{{ url_for('number') }}">{{ zens[0] | safe }}</a></h1>
        <!-- Tricking Frozen-Flask into generating the HTML file: {{ url_for('image.html', nr=nr) }} -->
    </header>
    {% if config['DEBUG'] %}
    <iframe style="width: {{ config.IMAGE_WIDTH }}px; height: {{ config.IMAGE_HEIGHT }}px" src="{{ url_for('image.html', nr=nr) }}"></iframe>
    {% endif %}
    <div id="zens">
        {% for zen in zens[1:] %}
        <p id="{{ loop.index }}" {{ "class=highlight" if loop.index == nr }}>
            <a href="{{ url_for('number', nr=loop.index) }}">{{ zen | safe }}</a>
        </p>
        {% endfor %}
    </div>
    <p id="source">
        Reference:
        <a href="https://www.python.org/dev/peps/pep-0020/">
            <abbr title="Python Enhancement Proposal">PEP</abbr> 20
        </a>
        | Source code:
        <a href="https://gitlab.com/dAnjou/zen-of-coding">dAnjou/zen-of-coding</a>
    </p>
    <script src="{{ url_for('static', filename='number.js') }}"></script>
</body>
</html>
